name: Release container app to Docker Hub

on:
  workflow_call:
    inputs:
      working_dir:
        required: true
        type: string
      tag_version:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    environment: demo
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          cd ${{ inputs.working_dir }}
          make docker-buildx IMAGE_TAG=${{ inputs.tag_version }}
      - uses: azure/cli@v2
        with:
          inlineScript: |
            set -a
            . "${{ inputs.working_dir }}/env"
            set +a
            
            az containerapp update \
              --resource-group "$RELEASE_RESOURCE_GROUP" \
              --name "$RELEASE_CONTAINER_APP_NAME" \
              --image "$RELEASE_CONTAINER_APP_IMAGE:${{ inputs.tag_version }}"