name: Trigger auto deployment for ca-intel-rec-agent

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-intel-rec-agent-AutoDeployTrigger-17caa833-bdb9-4e77-b49d-e20ae57bc882.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAINTELRECAGENT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAINTELRECAGENT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAINTELRECAGENT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.CAINTELRECAGENT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAINTELRECAGENT_REGISTRY_PASSWORD }}
          containerAppName: ca-intel-rec-agent
          resourceGroup: rg-client-container-apps-community-001
          imageToBuild: jinholeems/ca-intel-rec-agent:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


